<launch>
	<!-- how to use this launch file: import launch file in your package, then launch the launchfile and then launch the bag you want to use for recreate the map. At the end save the map-->

	<!-- use bag with clock option and this parameter -->
	<param name="/use_sim_time" value="true"/>

	<!-- static tf transform to publish -->
	<node pkg="tf" type="static_transform_publisher" name="laser_tf" args="0 0 0  1.57079632679 0 0 scout/base_link laser 100" />

 	<!-- Gmapping -->
  	<include file="$(find hw2)/launch/gmapping_launch.xml"/>

</launch>
